<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="novapayment_init" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Novapay\Payment\Block\Adminhtml\System\Config\Fieldset\Init</frontend_model>
            </group>
            <group id="novapayment_gateway" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>
                    <![CDATA[<div class="novapay-payment-logo"></div><div>Accept payments due to the most convenient and flexible online solutions. Configure the module and let your customers make a secure payment on your website. Track the payment status of each operation at your backoffice and manage the payment transaction.</div>]]>
                </label>
                <fieldset_css>complex</fieldset_css>
                <!-- <frontend_model>Novapay\Payment\Block\Adminhtml\System\Config\Fieldset\CheckoutPayment</frontend_model> -->
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/novapayment_gateway/active</config_path>
                </field>

                <group id="credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credentials</label>

                    <field id="merchant_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant ID</label>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/merchant_id</config_path>
                        <can_be_empty>0</can_be_empty>
                    </field>

                    <field id="public_key" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Public key</label>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/public_key</config_path>
                        <!-- <can_be_empty>0</can_be_empty> -->
                    </field>

                    <field id="private_key" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private key</label>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/private_key</config_path>
                        <can_be_empty>0</can_be_empty>
                    </field>

                    <field id="private_key_pass" translate="label" type="password" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Password private key</label>
                        <config_path>payment/novapayment_gateway/private_key_pass</config_path>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </group>
                <group id="options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment options</label>

                    <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/title</config_path>
                        <can_be_empty>0</can_be_empty>
                    </field>

                    <field id="payment_type" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment type</label>
                        <comment>
                            On when payment type is Hold safe delivery is available.
                        </comment>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentType</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/payment_type</config_path>
                        <can_be_empty>0</can_be_empty>
                    </field>

                    <field id="mode" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment mode</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentMode</source_model>
                        <config_path>payment/novapayment_gateway/mode</config_path>
                    </field>

                    <depends>
                        <field id="active">1</field>
                    </depends>
                </group>
                <group id="redirects" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirects after payment</label>
                    <field id="success_url" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Success Url</label>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/success_url</config_path>
                        <can_be_empty>0</can_be_empty>
                    </field>

                    <field id="fail_url" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fail Url</label>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/fail_url</config_path>
                        <can_be_empty>0</can_be_empty>
                    </field>

                    <depends>
                        <field id="active">1</field>
                    </depends>
                </group>

                <group id="novapayment_statuses" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="active">1</field>
                    </depends>

                    <label>Status mapping</label>
                    <!-- Status mapping > $session.status <-> $order->state -->
                    <!-- 
                    // session created
                    const STATUS_CREATED   = 'created';
                    // session expired, no further actions available
                    const STATUS_EXPIRED   = 'expired';
                    // session is processing, payer is entering his payment data
                    const STATUS_PROCESS   = 'processing';
                    // session amount is holded on payer account
                    const STATUS_HOLDED    = 'holded';
                    // hold is confirmed by seller for secure payment
                    const STATUS_CONFIRMED = 'hold_confirmed';
                    // hold completition is in process
                    const STATUS_COMPLETE  = 'processing_hold_completion'; 
                    // session is fully paid
                    const STATUS_PAID      = 'paid';
                    // session payment failed
                    const STATUS_FAILED    = 'failed';
                    // session amount voiding is in process
                    const STATUS_VOIDING   = 'processing_void';
                    // sesion payment voided
                    const STATUS_VOIDED    = 'voided';
                    -->
                    <field id="payment_action_created" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Created</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_created</config_path>
                    </field>
                    <field id="payment_action_expired" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Expired</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_expired</config_path>
                    </field>
                    <field id="payment_action_processing" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Processing</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_processing</config_path>
                    </field>
                    <field id="payment_action_holded" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Holded</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_holded</config_path>
                    </field>
                    <field id="payment_action_hold_confirmed" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Hold confirmed</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_hold_confirmed</config_path>
                    </field>
                    <field id="payment_action_processing_hold_completion" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Hold completion</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_processing_hold_completion</config_path>
                    </field>
                    <field id="payment_action_paid" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Paid</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_paid</config_path>
                    </field>
                    <field id="payment_action_failed" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Failed</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_failed</config_path>
                    </field>
                    <field id="payment_action_processing_void" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Processing void</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_processing_void</config_path>
                    </field>
                    <field id="payment_action_voided" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action Voided</label>
                        <source_model>Novapay\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
                        <validate>required-entry</validate>
                        <config_path>payment/novapayment_gateway/status_voided</config_path>
                    </field>
                    <!-- endof Status mapping -->
                </group>
            </group>
        </section>
    </system>
</config>
